{% extends "email-base.html" %}
{% block body %}
{% load format_timedelta %}

<p style='padding-left:15px;color:#1c2120 !important;'>Hi {{ full_name }},</p>
<div style="padding-left:15px;">
    <p>
        <span style="color:#1c2120 !important;">Did you forget your password? Please click the link below to reset your password.</span>
        <br>
        {%if ttl%}
            <span style="font-size:12px !important;color:#1c2120 !important;">(Link is valid for {{ttl|timedelta:"use_and"}}.)</span><br>
        {% endif %}
        <a href="{{ link }}" style="color:#008526;text-decoration:unset;" target="blank">{{ link }}</a>
    </p>
    <p>
        <span style="color:#1c2120 !important;">If you did <strong>not</strong> request to change your password, please <strong>contact us</strong> so we can investigate this instance for you.</span>
    </p><br>
    With Gratitude,<br>
    Team Project Archive
</div>
{% endblock %}
